.app {
  background-color: $color-primary;

  &__body_wrapper {
    height: 100%;
    display: flex;

    width: 100%;
    justify-content: center;
    margin-top: 6.4rem;

    &--steps {
      width: 100%;
      max-width: 448px;

      margin-left: 12rem;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}
