*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;

  @include respond(tablet) {
    font-size: 40%;
  }
  @include respond(phone) {
    font-size: 50%;
  }
  font-family: "Noto Sans", sans-serif;
}

body {
  height: 100vh;
}

img {
  @include respond(tablet) {
    width: 60px;
  }
  @include respond(phone) {
    width: 120px;
  }
}
