.background {
  background-color: $color-white;
  position: absolute;
  height: 100vh;
  width: 100%;
  visibility: hidden;
  overflow: hidden;
  transition: all 0.01s ease-out;
}

.expand {
  align-items: flex-start !important;
  padding-top: 24px !important;
  height: 234px !important;
  border: 2px solid $color-gray;
  background-color: $color-white;
  position: absolute !important;
}

.menu {
  margin: 16px 0;
}
.menu:first-child {
  margin-left: 0 !important;
  margin-top: 50px;
}
