.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  z-index: 9999;
  height: 80px;
  background-color: $color-white;
  @include respond(phone) {
    justify-content: space-between;
    padding: 0 16px;
  }
  &__menu_nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__menu {
    width: 24px;
    height: 24px;
  }
  &__menu img {
    width: inherit;
  }

  &__nav {
    &--item {
      list-style: none;
    }
    &--item a {
      text-decoration: none;
      color: $color-black;
      text-align: center;
      font-size: 2rem;
    }
    &--item:hover a {
      color: $color-blue;
    }
    &--item:first-child {
      margin-left: 90px;
    }
  }
  &__nav ul {
    display: flex;
    flex-direction: row;
    gap: 4.1rem;
  }
  &__logo_container img {
    @include respond(tablet) {
      width: 120px;
    }
  }
}
